{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="section-services section-t8">
    <div class="container">
    <h3>Admin Sign In</h3><hr>
    <div class="form">
      <form class="form-a" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="row">
          
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label class="pb-2" for="Type">Username</label>
              <input type="text" class="form-control form-control-a" placeholder="Username" name="username">
            </div>
          </div>
          <div class="col-md-12 mb-2">
            <div class="form-group">
              <label class="pb-2" for="Type">Password</label>
              <input type="password" class="form-control form-control-a" placeholder="Password" name="password">
            </div>
          </div>
          
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% include 'footer.html' %}
{% endblock  %} 