{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="section-services section-t8">
    <div class="container">
    <h3>Change Password</h3><hr>
    <div class="form">
      <form class="form-a" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="row">
            <div class="col-md-12 mb-2">
                <div class="form-group">
                <label class="pb-2" for="Type">Old Password</label>
                <input type="password" class="form-control form-control-a" placeholder="Old Password" name="old-password">
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="form-group">
                    <label class="pb-2" for="Type">New Password</label>
                    <input type="password" class="form-control form-control-a" placeholder="New Password" name="new-password">
                </div>
            </div>
            <div class="col-md-12 mb-2">
                <div class="form-group">
                  <label class="pb-2" for="Type">Confirm Password</label>
                  <input type="password" class="form-control form-control-a" placeholder="Confirm Password" name="confirm-password">
                </div>
            </div>
          
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
      </form>
    </div>
  </div>
{% include 'footer.html' %}
{% endblock  %} 